<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title class="centrar">Sección de Dietas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <div class="centrar">
      <h1>
        <i>
          Opciones de dietas
        </i>
      </h1>
    </div>
    <div class="centrar">
      <ion-button [routerLink]="['/resistencia']">Entrenamiento de resistencia</ion-button>
      <ion-button [routerLink]="['/cardiovascular']">Entrenamiento cardiovascular</ion-button>
      <ion-button [routerLink]="['/intensidad']">Entrenamiento de alta intensidad</ion-button>
      <ion-button [routerLink]="['/perdida-peso']">Pérdida de peso</ion-button>
    </div>
    


  </ion-content>
  



</div>